<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645937539614-s54vfqs9ci0vpiqi2159s762pa1idhjf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645937539614-s54vfqs9ci0vpiqi2159s762pa1idhjf</string>
	<key>API_KEY</key>
	<string>AIzaSyD72HLMfV2DrYZe_tsFOk-JlUJlGba1N2k</string>
	<key>GCM_SENDER_ID</key>
	<string>645937539614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomClone</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone-99d0c</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone-99d0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645937539614:ios:dcc5629645e7b4c396dc0f</string>
</dict>
</plist>